body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.page1{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color:red;
}
.page2{
    display:none;
    position:absolute;
    top:0;
    left:100%;
    width:100vw;
    height: 100vh;
    background-color:yellow;
}