body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    position:absolute;
    background-color:#141969;
    width: 100vw;
    color:white;
}

.burgerMenu{
    list-style: none;
}
.overKategori{
    font-size:20px;
    font-weight: bold;
    padding:15px 0 15px 0;
}
.underKategori{
    font-size:14px;
    font-style: normal;
}
.page1{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
}
.page2{
    display:none;
    position:absolute;
    top:0;
    left:100%;
    width:100vw;
    height: 100vh;
    background-color:yellow;
}